# Credenciales de MySQL
# Nota: MYSQL_USER no puede ser "root"; para root usa solo MYSQL_ROOT_PASSWORD.
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=db_prueba

# Token de inicio de sesión para Jupyter
JUPYTER_TOKEN=facil123
